#Activation du rewrite des URL
RewriteEngine On

#base du projet (emplacement à partir de la racine du serveur)
RewriteBase /Projet_task-MVC-POO-Part02/Projet_task

#si ce n'est pas un répertoire
RewriteCond %{REQUEST_FILENAME} !-d

# Si ce n'est pas un fichier
RewriteCond %{REQUEST_FILENAME} !-f

# Quel fichier contient les règles de redirection
RewriteRule ^(.+)$ index.php [QSA,L]